.background {
    background-color: #23222d;
}
.loading {
    margin:auto;
    display:block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -105px;
    margin-left: -240px;
    shape-rendering: auto;
}
